@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    color: black;
}
.font_300{
    font-weight: 300;
}
.font_300_italic{
    font-weight: 300;
    font-style: italic;
}

.font_blue{
    color: #304b79;
}
.bg_gray{
    background-color: #ebebeb;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
}
a{
    text-decoration: none;
}
.imglogo{
  text-align: right;
}
.heading{
    height: 200px;
}
.heading span{
    font-size: 30px;
}
.navigation{
    height: 150px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.navigation2{
    border-bottom: 4px solid #eee;
    padding: 0 10px;
    color: #777;
    font-size: 16px;
    height: 50px;
}
.navigation2:hover{
    border-bottom-color: #662d91;
}
.navigation1{
    border-bottom-color: #662d91;
    color: #662d91;
}
.text1{
    font-size: 18px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.carousel-all{
    height: 700px;
}
.video1{
    width: 840px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
.video2{
    height: 473px;
}
.stripe_violet{
    width: 100%;
    height: 168px;
    background-color: aquamarine;
    background-image: url(../img/stripe_violet.png);
    background-position: center;
}
.footer_violet{
    height: 300px;
    background-color: #662d91;
}
.footer_violet span{
    font-size: 34px;
    color: white;
}
.stripe_blue{
    width: 100%;
    height: 168px;
    background-color: aquamarine;
    background-image: url(../img/stripe_blue.png);
    background-position: center;
}
.footer_blue{
    height: 350px;
    background-color: #0c112e;
}
.footer_blue span{
    font-size: 24px;
    color: white;
}
.footer_blue span2{
    display: inline;
    font-size: 18px;
    color: white;
    line-height: 22px;
}
.footer_blue p{
    font-size: 14px;
    color: white;
    line-height: 22px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.bor{
    border: 1px solid black;
}
.kak_proh{
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}
.kak_col{
    position: relative;
    padding: 0;
}
.kak_circle{
    width: 48px;
    height: 48px;
    background: #dab03c;
    border-radius: 100%;
    border: 2px solid #fff;
    position: absolute;
}
.kak_line{
    width: 2px ;
    background: #304b79;
    position: absolute;
    height: 100%;
    margin-left: 22px;
}
.kak_number{
    text-align: center;
    color: white;
    font-size: 20px;
    padding-top: 7px;
}
.kartochka{
    background-color: rgb(212, 212, 212);
    border-radius: 5px;
    padding: 30px;
    margin: 10px;
    color: black;
}
.kartochka:hover{
    background-color: #9678c4;
}
.button_purple{
    color: #ffffff;
    background-color: #662d91;
    height: 45px;
    font-size: 14px;
    padding-left: 30px;
    padding-right: 30px;
    display: inline-block;
}

